
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f2f4;

}
.navbar{
    display: flex;
    background-color: white ;
    display: flex;
    justify-content: center;
   gap: 50px;
    height: 57px;
    align-items: center;
}
.flip{
    display: flex;
    width: 84vw;
    gap: 49px;
    justify-content: center;
    align-items: center;
    margin: 0;
  height: 57px;
}
.input{
    display: flex;
    align-items: center;
    height: 31px;
    width: 372px;
    background-color: rgba(240, 245, 255, 1);
    border: none;
    border-radius: 7px;
    padding: 7px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
font-size: 20px;
}
.input img{
    height: 30px;
    
}
.input input{

    z-index: 1;
    width: 309px;
    background-color: rgba(240, 245, 255, 1);
   border: none;
   font-size: large;
    
}
.section2{
    height: 168px;
  width: 85vw;
  background-color: white;
  margin: auto;
    margin-top: auto;
  margin-left: auto;
  margin-top: 10px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images img{
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.images ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
.images ul li {
    border: 1px black;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section3{
    height: 168px;
    width: 85vw;
    background-color: white;
    margin: auto;
      margin-top: auto;
    margin-left: auto;
    margin-top: 15px;
}
.images3 img{
    width: 85vw;
}
.section4{
    height: 168px;
    width: 85vw;
    background-color: white;
    margin: auto;
      margin-top: auto;
    margin-left: auto;
    margin-top: 15px;
}
